/* <link rel="stylesheet" href="css-review.css">

div {
    (border: 5px solid red;)
}

.single {font-size: 30px;
    margin: 30px;
    padding: 31;} *use a single selector for just that one 
<div class="single">

* */

p {font-family: Verdana; 
    font-size: 12px; 
    color: black}

background {color: beige}

footer {background-color: burlywood;}

    /* #tag selector for p tag */

.content {
  max-width: 960px;
  margin: auto;
  background: white;
}

body {background: burlywood;}
